@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-very-dark-blue: #202732;
  --clr-dark-blue: #323a49;
  --clr-very-light-blue: #d0e2e8;
  --clr-light-green: #6ffcac;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-very-light-blue);
  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
}

.rotate img {
  animation: 2s ease-out rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    /* transform: rotate(-360deg); */
    transform: rotate(1260deg);
  }
}